dist: xenial

language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7

before_install:
  - pip install --upgrade pip setuptools wheel

install:
  - pip install .

script: python tests/test_pyxdl.py
